<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            overflow-x: hidden;
            line-height: 1.25;
            overflow-x: hidden;
        }

        :root {
            --accent-color: #f89a1a;
            --black-neutral-color: #12130c;
            --white-neutral-color: #f8fbed;
            --complementary-color: #1c45e3;
            --complementary-background-color: #7e95ef;
        }

        body {
            background-color: var(--white-neutral-color);

        }

        button {
            background-color: #f5e50c;
            color: var(--white-neutral-color);
            /* display: inline-block; */
            font-size: 1.2rem;
            border: none;
            outline: none;
            padding: 5px 15px;
            letter-spacing: 2px;
        }

        label {
            display: block;
            font-size: 20px;
            margin-top: 10px;
            color: var(--black-neutral-color);

        }

        input {
            font-size: 1.2rem;
            width: 100%;
            padding: 5px 15px;
            color: var(--black-neutral-color);

        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 400px;
            height: 400px;
            margin: 6rem auto;
            padding: 2rem 4rem;
            background-color: white;
            border-top: 4px solid yellow;
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            opacity: 0;
            transform: translateY(-100%);
            transition: all 0.4s ease-in;
        }

        .modal-header {
            display: flex;
            justify-content: flex-end;
        }

        .modal-footer {
            text-align: center;
        }

        .close-button {
            font-size: 40px;
            color: var(--black-neutral-color);
            background-color: transparent;
        }

        .toggle-modal {
            opacity: 1;
            transform: none;

        }
    </style>
</head>

<body>
    <button id="modal-pop">Open</button>
    <div class="modal">
        <div class="modal-header">
            <div>
                <button class="close-button">&times</button>
            </div>
        </div>
        <div class="modal-body">
            <div>
                <label for="">Name</label>
                <input type="text" name="name" value=<%=name%>>
            </div>
            <div>
                <label for="">Password</label>
                <input type="text" name="password" value=<%=password%>>
            </div>
        </div>
        <div class="modal-footer">
            <button>submit now</button>
        </div>
    </div>
    <script>
        const open_modal = document.querySelector('#modal-pop')
        const close_modal = document.querySelector('.close-button')
        const modal = document.querySelector('.modal')
        open_modal.addEventListener('click', () => {
            modal.classList.toggle('toggle-modal')
        })
        close_modal.addEventListener('click', () => {
            console.log('clicked')
            modal.classList.remove('toggle-modal')
        })
        window.onclick = (event) => {
            console.log(event.target)
            if (event.target == modal)

                modal.style.display = "none"
        }
    </script>
</body>


</html>