<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="./css/signup.css">
</head>

<body>
    <div class="login-form">
        <form action="/signup" method="POST">
            <div>
                <label for="">Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" name="password">
            </div>
            <div>
                <label for="">Favourite color</label>
                <input type="text" name="color">
            </div>

            <div class="buttons">
                <button>Sign Up</button>
                <a class="signup" href="/">Login</a>
            </div>
        </form>

    </div>
</body>

</html>